@charset "UTF-8";
/*https://graphicmama.com/blog/website-color-schemes/
13番のカラースキームを使用*/

body{
    background-color: #fff;
    color: #000;
}

h1{
    background-color: #437fc7;
    color: #fff;
}

h2{
    background-color: #edf6ff;
    color: #000;
}

.header-container {
    margin: 0 10%; /* 上下のマージンは0、左右は全体幅の10% */
}

.container {
    margin: 0 10%;
    display: flex;
    /* width: 90%; */
}

.main-content {
    /* flex-grow: 1; */
    padding: 0px 20px;
    margin-left: 220px;
}

.main-content ul {
    list-style-type: ">> ";
    padding-left: 20px;
}

.sidebar {
    /* width: 150px; サイドバーの幅を200pxに設定 */
    position: fixed;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    padding: 0px 10px;
    background-color: #edf6ff; /* サイドバーの背景色 */
}

.sidebar ul{
    list-style-type: "";
    padding-left: 0px;
}

.sidebar ul li{
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none; /* 下線を消す */
    color: black;
}

@media (max-width: 600px) {
    .sidebar {
        position: static;
        width: 100%;
        height: auto;
    }

    .main-content {
        margin-left: 0;
    }
}
